.navbar {
    text-align:center;
    position: absolute;
    width: 100%;
}
.navbar ul {
    display:inline-block;
}
.navbar li {
    float:left;
    list-style-type:none;
}
.navbar li + li {
    margin-left:0px;
}

.bookcontainer {
  flex-wrap: wrap;
  width: 200px;
  border: solid 1px black;
  margin: 5px;
}

.book {
  width: 100%;
}
